@font-face {
    font-family: 'Man Med';
    src: url(../fonts/Manrope-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Man Reg';
    src: url(../fonts/Manrope-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Neu';
    src:url(../fonts/NeutralFace.otf);
    font-style: normal;
    font-weight: 400;
}